In [1]:
import pandas as pd
import warnings
import sqlite3
warnings.filterwarnings("ignore")

pd.set_option("display.max_columns",100)
pd.set_option("display.max_rows",100)

In [2]:
df = pd.read_csv('rfm_data.csv')

In [3]:
df.head()

,CustomerID,PurchaseDate,TransactionAmount,ProductInformation,OrderID,Location
0,8814,2023-04-11,943.31,Product C,890075,Tokyo
1,2188,2023-04-11,463.70,Product A,176819,London
2,4608,2023-04-11,80.28,Product A,340062,New York
3,2559,2023-04-11,221.29,Product A,239145,London
4,9482,2023-04-11,739.56,Product A,194545,Paris

In [4]:
df.shape

(1000, 6)

In [5]:
df.PurchaseDate.unique()

array(['2023-04-11', '2023-04-12', '2023-04-13', '2023-04-14',
       '2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18',
       '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22',
       '2023-04-23', '2023-04-24', '2023-04-25', '2023-04-26',
       '2023-04-27', '2023-04-28', '2023-04-29', '2023-04-30',
       '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
       '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08',
       '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
       '2023-05-13', '2023-05-14', '2023-05-15', '2023-05-16',
       '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20',
       '2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24',
       '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28',
       '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01',
       '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05',
       '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09',
       '2023-06-10'], dtype=object)